* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width:100%;
    max-height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;

}

.main-contents {
    background-image: url('assets/cool-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 101%;
    height: 100vh;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#animation-text {
    white-space: pre-wrap;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes button {
    0% {transform: scale(1);}
    25% {transform: scale(1.25);}
    50% {transform: scale(0.9);}
    75% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

.animation-button {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    padding: 10px 10px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #cff9ff;
    animation: button 4s infinite;
}